body {
    font-family: Arial, sans-serif;
    background-color: dimgray;
    width: 100%;
    max-width: 1200px; /* Optional: maximale Breite */
    margin: 0 auto; /* Zentrieren ohne justify-content */

}

header {
    text-align: center;
}

main {
    text-align: center;

}

#map-container {
    display: flex;
    margin-top: 20px;
}

#map {
    display: grid;
    grid-template-columns: repeat(61, 20px);
    grid-template-rows: repeat(61, 20px);
    border: 4px solid black;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: white;
}

.player {
    /*outline: 2px solid red;*/
    font-weight: bold;
    color: red;
    font-size: 18px;
}

#message-area {
    margin-top: 20px;
    color: red;
}